extends layout

block title
  | Perdu

block content
  .petitpain
    .visuel
      img(src="/medias/img/petitpain-lost.svg")
    .text
      | Petit pain perdu (404)
    .actions
      a.btn.btn-primary(href="/")
        | Revenir au site